/* ADDONS !! */
@import url("https://curvu.github.io/Simplicity/addons/B_RTC_Connection.css");
@import url("https://curvu.github.io/Simplicity/addons/B_block_message.css");
@import url("https://curvu.github.io/Simplicity/addons/B_channel_indicator.css");
@import url("https://curvu.github.io/Simplicity/addons/B_discord.css");
@import url("https://curvu.github.io/Simplicity/addons/B_member_popup.css");
@import url("https://curvu.github.io/Simplicity/addons/B_powercord_settings.css");
@import url("https://curvu.github.io/Simplicity/addons/Remove_useless.css");
@import url("https://curvu.github.io/Simplicity/addons/B_me.css");
