/* ADDONS !! */
@import url("https://curvu.github.io/Simplicity/addons/B_RTC_Connection.css");
@import url("https://curvu.github.io/Simplicity/addons/B_block_message.css");
@import url("https://curvu.github.io/Simplicity/addons/B_channel_indicator.css");
@import url("https://curvu.github.io/Simplicity/addons/B_discord.css");
@import url("https://curvu.github.io/Simplicity/addons/B_member_popup.css");
@import url("https://curvu.github.io/Simplicity/addons/B_powercord_settings.css");
@import url("https://curvu.github.io/Simplicity/addons/Remove_useless.css");
@import url("https://curvu.github.io/Simplicity/addons/B_me.css");

/* SOURCE !! */
@import url("https://curvu.github.io/Simplicity/source/theme-source.css");

/* Theme */
.theme-dark,
.theme-light,
:root {
  --background-primary: #36263a !important;
  --background-secondary: #281d30 !important;
  --background-secondary-alt: #211828 !important;
  --background-tertiary: #1a141f !important;
  --background-accent: #72507a !important;
  --background-floating: #1a141f !important;
  --background-modifier-hover: #ffffff03 !important;
  --background-modifier-active: #ffffff08 !important;
  --background-modifier-selected: #ffffff0a !important;
  --background-modifier-accent: #ffffff0f !important;
  --channeltextarea-background: #281d30 !important;
  --focus-primary: #a871b6 !important;
  --deprecated-card-bg: #00000033 !important;
  --deprecated-card-editable-bg: #0000001a !important;
  --deprecated-text-input-border-disabled: #1a141f !important;
  --activity-card-background: #36263a !important;
  --channels-default: #9f9f9f !important;
  --text-muted: #b6b6b6 !important;
  --text-normal: #fbfbfb !important;
  --interactive-normal: #c8c8c8 !important;
  --interactive-hover: #dcddde !important;
  --interactive-active: #fff !important;
  --interactive-muted: #747474 !important;
  --header-secondary: #c9c9c9 !important;
  --toast-background: #36263a !important;
  --toast-header: #1a141f !important;
  --toast-contents: #281d30 !important;
  --toast-box-shadow: #00000033 !important;
  --toast-border: #1a141f !important;
}

/* Topbar + Chat */
.titleBar-AC4pGV { /* Topbar Change */
    background: #211828;
    margin-top: 0px;
}
.winButton-iRh8-Z {
    margin-top: 2px;
}

.title-3qD0b-.container-1r6BKw.themed-ANHk51 { /* Nicer Topbar Title */
    background-color: #281d30;

    & > div::after {
        display: none;
    }
}
.toolbar-1t6TWx { /* Tooltip Background */
    background-color: #211828;
    border-radius: 10px;
    padding: 6px;
}
  
/* Watermark */
@keyframes Gradient1 {
    0% {
       background-position:0% 50%
    }
    50% {
       background-position:100% 50%
    }
    100% {
       background-position:0% 50%
    }
}

.wordmark-2iDDfm svg {
    width: 0px;
}

.wordmark-2iDDfm::after {
    position: absolute;
    font-family: "Discord";
    content: "Simplicity";
    top: 3px;
    width: 75px;
    font-size: 13px;
    font-weight: 700;
    background: linear-gradient(270deg, #008000, #009EFF);
    animation: Gradient1 5s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-size: 400% 400%;
}
