/* All/Unsorted Popouts and Modals */
.modal-1k91nT.root-1gCeng,
.modalSize-cqUaws.root-1gCeng,
.modalRoot-1Kx4Hb.root-1gCeng,
.main-3auUui.root-1gCeng,
.modalRoot-LW89o7.root-1gCeng,
.modal-yWgWj-.fullscreenOnMobile-1aglG_,
.root-1gCeng.small-3iVZYw { /* All Modals */
    background-color: var(--background-primary);
    box-shadow: 0 0 0 1px var(--background-secondary), 0 2px 10px 0 rgba(0, 0, 0, .2);
}
.modal-1k91nT.root-1gCeng > .header-1TKi98 {
    background-color: var(--background-primary);
    box-shadow: 0 0 0 1px var(--background-secondary), 0 2px 10px 0 rgba(0, 0, 0, .2);
}
.modal-1k91nT.root-1gCeng > .footer-1FPmkC,
.modalSize-cqUaws.root-1gCeng > form > .footer-2gL1pp,
.root-1gCeng.small-3iVZYw > form > .footer-2gL1pp,
.modalRoot-1Kx4Hb.root-1gCeng > .footer-2gL1pp,
.modalRoot-LW89o7.root-1gCeng > .footer-2gL1pp,
.modal-yWgWj-.fullscreenOnMobile-1aglG_ > .footer-2gL1pp,
.root-1gCeng.small-3iVZYw > .footer-2gL1pp {
    background-color: var(--background-tertiary);
    box-shadow: 0 0 0 1px var(--background-tertiary), 0 2px 10px 0 rgba(0, 0, 0, .2);
}
.settingsGroup-2NaPKC > .group-2dAfBy > .selectorButton-EEUWed {
    border-color: var(--background-secondary) !important;
}

/* Color Picker */
.colorPickerCustom-2CWBn2 {
    background-color: var(--background-secondary-alt) !important;
    border-color: var(--background-secondary) !important;
}

/* Emoji Picker */
.emojiPicker-3PwZFl > .inspector-S2gM3e {
    background-color: var(--background-tertiary);
}
.emptyHintCard-2mUdMe {
    background-color: var(--background-secondary-alt) !important;
}

/* Invite Splash */
.contentWrapper-3WC1ID { 
    background-color: var(--background-secondary-alt) !important;
}

/* User Modal and Popouts */
.userPopout-3XzG_A { 
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.2), 0 0 0 1px var(--background-secondary);
}
.userPopout-3XzG_A > .headerNormal-T_seeN {
    background-color: var(--background-tertiary);
}
.userPopout-3XzG_A > .body-3iLsc4,
.userPopout-3XzG_A > .footer-1fjuF6 {
    background-color: var(--background-secondary);
}

/* Add Role */
.container-VSDcQc > .header-2bNvm4 { 
    background-color: var(--background-tertiary) !important;
}
.container-VSDcQc > .autocompleteShadow-iiGWFU {
    background-color: var(--background-primary) !important;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.2), 0 0 0 1px var(--background-secondary);
}
.container-VSDcQc > .autocompleteArrowWrapper-3Z7OuM > .autocompleteArrow-Zxoy9H {
    background-color: var(--background-primary) !important;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.2), 0 0 0 1px var(--background-secondary);
}

/* Keyboard Shortcut */
.keyboardShortcutsModal-3piNz7 { 
    background-color: var(--background-primary) !important;
    box-shadow: 0 0 0 1px var(--background-secondary), 0 2px 10px 0 rgba(0, 0, 0, .2);
}
.keyboardShortcutsModal-3piNz7 > .modalSubtitle-1Pj5nv {
    border-bottom: 1px solid var(--background-tertiary) !important;
}
.keybindShortcut-1BD6Z1 > span {
    background-color: var(--background-secondary-alt) !important;
    box-shadow: inset 0 -4px 0 var(--background-secondary) !important;
    border-color: var(--background-tertiary) !important;
}

/* Reactions */
.modal-yWgWj-.fullscreenOnMobile-1aglG_ > .reactors-Blmlhw { 
    background-color: var(--background-primary);
}
.modal-yWgWj-.fullscreenOnMobile-1aglG_ > .scroller-1-nKid {
    background-color: var(--background-tertiary);
}

/* Mention Everyone Warning */
.everyonePopout-nEbJY3 > .body-2iXqIL { 
    box-shadow: 0 2px 10px 0 var(--background-secondary-alt);
}
.everyonePopout-nEbJY3 > .body-2iXqIL { 
    background-color: var(--background-primary);
}
.everyonePopout-nEbJY3 > .footer-2aTx0s { 
    background-color: var(--background-tertiary);
}

/* Stream Preview */
.streamPreview-2-WUWT > .previewContainer-12UlHl { 
    background: var(--background-secondary);
}
.streamPreview-2-WUWT > .body-Ogsp8i {
    background: var(--background-tertiary);
}

/* Upload Modal */
.uploadModal-2ifh8j { 
    background-color: var(--background-primary) !important;
    box-shadow: 0 0 0 1px var(--background-secondary), 0 2px 10px 0 var(--background-secondary) !important;
}
.uploadModal-2ifh8j > .footer-3mqk7D {
    background-color: var(--background-tertiary);
    box-shadow: inset 0 1px 0 var(--background-secondary);
}

/* Uploading/Uploaded Files */
.wrapperAudio-1jDe0Q,
.attachment-33OFj0 { 
    border-color: var(--background-primary) !important;
}


/* Dropdowns */
.css-gvi9bl-control {
    border-color: var(--background-tertiary);
}
.css-3vaxre-menu {
    background-color: var(--background-secondary);
    box-shadow: var(--background-tertiary) 0px 1px 5px 0px;
    border-color: var(--background-tertiary);
}

/* Redeem Code Redirect */
.codeRedemptionRedirect-1wVR4b {
    background-color: var(--background-secondary) !important;
    border-color: var(--background-tertiary) !important;
}

/* Features */
.subscriptionDetails-1dUmjl ~ .featureGrid-3-fNl- > .feature-2w65J5 {
    background-color: var(--background-secondary-alt);
}

/* Stickers */
.stickerImageSection-7EUs8E {
    background-color: var(--background-secondary) !important;
}

/* Camera Preview */
.media-engine-video ~ .previewOverlay-2O7_KC {
    background-color: var(--background-secondary) !important;
    border-color: var(--background-tertiary) !important;
}

/* Overlay Positioning */
.option-n0icdO {
    background-color: var(--background-modifier-accent);
}

/* Keybinds */
.keybindGroup-JQs9x_.card-FDVird::before {
    background-color: var(--background-secondary-alt) !important;
    border-color: var(--background-secondary) !important;
}
.removeKeybind-39dSFj {
    background-color: var(--background-tertiary) !important;
    box-shadow: 0 0 0 1px var(--background-secondary), 0 1px 5px 0 rgba(0,0,0,.3) !important;
}

/* Game Acitivty */
.activeGame-14JI7o.notDetected-33MY4s {
    background-color: var(--background-secondary-alt);
}
.game-1ipmAa {
    box-shadow: 0 1px 0 0 var(--background-modifier-accent) !important;
}
.game-1ipmAa::before {
    background-color: var(--background-secondary-alt) !important;
    border-color: var(--background-secondary) !important;
}
.gameName-1RiWHm.gameNameInput-385LoS:hover,
.gameName-1RiWHm.gameNameInput-385LoS:focus {
    background-color: var(--background-secondary);
    border-color: var(--background-modifier-accent);
}

.title-3sZWYQ ~ div > .item-3eFBNF {
    box-shadow: inset 0 -1px 0 0 var(--background-modifier-accent);
}
.title-3sZWYQ ~ div > .item-3eFBNF.selected-2DeaDa {
    background-color: var(--background-modifier-selected);
}

/* Emojis */
.emojiRow-zIc7ZX::before {
    background-color: var(--background-secondary-alt) !important;
    border-color: var(--background-secondary) !important;
}
.emojiInput-1aLNse {
    background-color: var(--background-secondary) !important;
    border-color: var(--background-modifier-accent) !important;
}

/* Aduit Log */
.auditLog-3jNbM6 {
    border-color: var(--background-modifier-accent) !important;
}
.auditLog-3jNbM6 > .header-GwIGlr {
    background-color: var(--background-secondary);
}
.auditLog-3jNbM6 > .headerExpanded-CUEwZ5 {
    background-color: var(--background-secondary-alt);
}
.changeDetails-bk98pu {
    background-color: var(--background-secondary) !important;
}

.upsellFooter-ZYsio_ { /* Overview */
    background-color: var(--background-tertiary);
}

.tierHeaderLocked-1a2opw { /* Boost Status */
    background-color: var(--background-tertiary) !important;
}
.tierBody-x9kBBp {
    background-color: var(--background-secondary-alt) !important;
}

/* Members */
.member-1q7VfX.card-FDVird::before {
    background-color: var(--background-secondary-alt) !important;
    border-color: var(--background-secondary) !important;
}
.overflowRolesPopout-140n9i,
.overflowRolesPopoutArrow-2O66oH {
    background-color: var(--background-primary) !important;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.2), 0 0 0 1px var(--background-secondary) !important;
}

.membersFilterPopout-URUUD- {
    background-color: var(--background-primary) !important;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.2), 0 0 0 1px var(--background-secondary) !important;
}
.membersFilterPopout-URUUD- > .scroller-2CvAgC > .selectableItem-1MP3MQ:hover {
    background-color: var(--background-modifier-selected) !important;
}

/* Invites */
.inviteSettingsInviteRow-3p2O-N.card-FDVird::before {
    background-color: var(--background-secondary-alt) !important;
    border-color: var(--background-secondary) !important;
}

/* Permissions Changer */
.group-2dAfBy > .box-gRofIO {
    border-color: var(--background-tertiary)
}
.group-2dAfBy > .passthroughSelected-1Eq0Kl {
    background-color: var(--background-modifier-selected);
}

/* Message Search */
.searchFilter-2ESiM3,
.searchAnswer-3Dz2-q {
    background-color: var(--background-secondary-alt) !important;
}
#search-results {
    background-color: var(--background-secondary) !important;
    box-shadow: 0 0 0 1px var(--background-tertiary), 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}
#search-results > .focused-2bY0OD {
    background-color: var(--background-secondary) !important;
}
.option-96V44q.selected-rZcOL- {
    background-color: var(--background-modifier-hover) !important;
}
.option-96V44q::after {
    background: transparent !important;
}
.option-96V44q.selected-rZcOL-::after {
    background: linear-gradient(90deg,rgba(0, 0, 0, 0),var(--background-secondary-alt) 50%) !important;
}
.option-96V44q.selected-rZcOL-::before {
    background: linear-gradient(90deg,rgba(0, 0, 0, 0),var(--background-secondary-alt) 80%) !important;
    padding-left: 10px;
}

/* Date Picker */
.react-datepicker,
.react-datepicker__header {
    background-color: var(--background-secondary) !important;
}
.react-datepicker__day:not(:hover):not(.react-datepicker__day--disabled):not(.react-datepicker__day--outside-month) {
    background-color: var(--background-secondary-alt) !important;
}
.react-datepicker__day {
    border-color: var(--background-tertiary) !important;
}
.react-datepicker__day--disabled,
.react-datepicker__day--outside-month {
    background-color: var(--background-primary) !important;
}

/* Quick Switcher */
.quickswitcher-3JagVE {
    box-shadow: 0 0 0 1px var(--background-secondary), 0 2px 10px 0 rgba(0, 0, 0, 0.2);
}
.quickswitcher-3JagVE > .input-2VB9rf {
    background-color: var(--channeltextarea-background)
}

/* Friend Page */
.peopleColumn-29fq28 {
    background-color: var(--background-primary);
}

/* Item Cards */
.itemCard-v9viV7 > div > .inset-3sAvek {
    background-color: var(--background-secondary);
}
.itemCard-v9viV7.active-1xchHY,
.itemCard-v9viV7:hover {
    background-color: var(--background-modifier-accent) !important;
}
.popout-38lTFE {
    background-color: var(--background-floating) !important;
}
.popout-38lTFE > div > .wrapper-3Rixsz.enabled-1t_Gxm:hover,
.popout-38lTFE > .memberListContainer-13tNU9 > .memberListItem-31QoHj:hover {
    background-color: var(--background-modifier-hover);
}

/* Region Selector */
.regionSelectModal-12e-57 {
    background-color: var(--background-primary) !important;
    box-shadow: 0 0 0 1px var(--background-secondary), 0 2px 10px 0 rgba(0, 0, 0, .2) !important;
}
.regionSelectModalOption-2DSIZ3 {
    background-color: var(--background-secondary) !important;
    border-color: var(--background-secondary-alt) !important;
}

/* Server Boost */
.perksModal-fSYqOq {
    background-color: var(--background-secondary-alt) !important;
    color: white;
}
.perksModalContentWrapper-2HU6uL > div > .progressBarWrapper-15RqAy > div > .barBackground-2EEiLw {
    background: var(--background-tertiary);
}
.tierMarkerBackground-3q29am {
    background: var(--background-secondary-alt) !important;
}
.tierMarkerInProgress-24LMzJ {
    background: var(--background-tertiary) !important;
}

.tierHeaderLocked-1s2JJz {
    background-color: var(--background-tertiary) !important;
}
.tierIcon-2qSKGj > path,
.tierLock-3CSxSX > path,
.tierTitle-y7BLPl,
.tierRequirements-dGesMA {
    color: white;
    fill: white !important;
}
.tierBody-16Chc9 {
    background-color: var(--background-secondary) !important;
}
.perks-3OsGy8 > .perk-2WeBWW {
    background-color: var(--background-tertiary) !important;
}

/* Store Pages */
.applicationStore-1pNvnv > .listingWrapper-329f74 > .scroller-1JpcIc {
    background-color: var(--background-secondary-alt);
}
.purchaseUnit-2lxci3 > .bodySection-jqkkIP,
.whyYouMightLikeIt-2zZIIj,
.features-_IOqVv > .row-1bU71H {
    background-color: var(--background-tertiary) !important;
}

/* Server Discovery */
.pageWrapper-1PgVDX {
    background-color: var(--background-primary) !important;
}


/* Auotcomplete */
.autocomplete-1vrmpx {
    background-color: var(--background-secondary) !important;
}
.autocompleteRow-2OthDa > .selected-1Tbx07 {
    background-color: var(--background-modifier-hover) !important;
}
.autocompleteRowVertical-q1K4ky > .base-1pYU8j > .divider-23swzi {
    background-color: var(--background-secondary-alt) !important;
}

/* User Area */
.panels-j1Uci_ > div {
    background-color: var(--background-secondary-alt);
}

/* Spotify ListenAlong */
.invite-18yqGF.container-o3RxSG {
    background-color: var(--background-secondary-alt);
    border-color: var(--background-secondary);
}

/* Buttons With No Color */
.lookFilled-1Gx00P.colorPrimary-3b3xI6,
.lookFilled-1Gx00P.colorGrey-2DXtkV {
    background-color: var(--background-modifier-accent) !important;
}

/* Slider Bars */
.bar-2Qqk5Z:not(.sliderBar-3DezvM):not([style="background: rgb(105, 196, 154);"]) {
    background-color: var(--background-secondary-alt) !important;
}

/* Delete Message */
.content-1LAB8Z > .message-2qRu38:not(.cozyMessage-3V1Y8y) {
    background-color: var(--background-primary);
    box-shadow: 0 0 0 1px var(--background-tertiary), 0 2px 10px 0 rgba(0,0,0,.2);
}

/* Streaming */
.applicationStreamingPreviewSize-3NIvhL,
.previewImage-RxVzkZ {
   background-color: var(--background-secondary-alt);
}
