/* Member's Popup */
.headerNormal-T_seeN, .headerPlaying-j0WQBV, .headerStreaming-2FjmGz, .headerSpotify-zpWxgT { background: var(--background-secondary-alt) !important;}
.activityUserPopout-2yItg2 { border-radius: 5px; margin: 0 8px 12px 8px; padding: 10px;}
.headerPlaying-j0WQBV > .activityUserPopout-2yItg2 { background: #7289DA !important;}
.headerStreaming-2FjmGz > .activityUserPopout-2yItg2 { background: #593695 !important;}
.headerSpotify-zpWxgT > .activityUserPopout-2yItg2 { background: #1DB954 !important;}
.body-3iLsc4, .footer-1fjuF6 { background: var(--background-secondary) !important; }

/* Enlarged popup of a member */
.root-SR8cQa > .topSectionSpotify-1lI0-P, .root-SR8cQa > .topSectionPlaying-1J5E4n, .root-SR8cQa > .topSectionStreaming-1Tpf5X { background: var(--background-tertiary) !important;}
.activityProfile-2bJRaP { border-radius: 5px; margin: 0 13px 13px 13px;}
.topSectionSpotify-1lI0-P > .headerFill-adLl4x > .activityProfile-2bJRaP { background: #1DB954 !important; }
.topSectionPlaying-1J5E4n > .headerFill-adLl4x > .activityProfile-2bJRaP { background: #7289DA !important; }
.topSectionStreaming-1Tpf5X > .headerFill-adLl4x > .activityProfile-2bJRaP { background: #593695 !important; }
.actionButton-3W1xZa { background: var(--background-primary) !important;}