/* Remove Help Button */
.anchor-3Z-8Bb[href="https://support.discord.com"] { display: none; }

/* Remove nitro gift button */
[data-aria-label="Send a gift"] { display: none; } /* EN */
[aria-label="Enviar um presente"] { display: none; } /* PT */
